h2{
  font-size: 40px;
  font-family: 'Trade Winds';
  text-align: center;
  background-color: black;

  color: white;
  
}
form{
  font-family: 'Yeon Sung';
  font-size: 20px;
 background-color: black;
  opacity: O.8;
  color: white;
}
#description{
  background-color: transparent;
}
#author{
  background-color: transparent;
}
#name{
  background-color: transparent;
}