<!DOCTYPE html>
<html>
  <head>
    <title>QUOTES</title>
  </head>
  <body>
    <div class="container">
      <h1>QUOTES</h1>
      <p>Inspiring lives with words of encouragement and wisdom</p><br />
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <h2>CURRENT QUOTES</h2>
            <ul>
              <div *ngFor="let quote of quotes ; let i = index">
                <li>{{quote.description}}</li>

                <button (click)= "toggleDetails(i)" class="btn btn-primary">Details</button> 
                <app-name *ngIf=quote.showName [quote]='quote' (isUpvote) ="addUpvote($event,i)" (isDownvote)="addDownVote($event,i)" (toDelete)="quoteDelete($event,i)"> </app-name>  
              </div>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <app-quote-form (addQuote)="addNewQuote ($event)" ></app-quote-form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
