<!DOCTYPE html>
<p>Author : {{quote.author}}</p>
 <p>Uploaded By : {{quote.name}}</p>
 
 <p>Was uploaded On:{{quote.uploadDate|date}} , {{quote.uploadDate|counter}} days ago</p><br/>
 <p>{{quote.upvote}} Upvotes , {{quote.downvote}} Downvotes</p> 
 <button id="upvote" (click)="upVote(true)" class="btn btn-success">UPVOTE</button>
 <button id="downvote" (click)="downVote(true)" class="btn btn-danger">DOWNVOTE </button>
 <button  (click)="deleteQuote(true)" class="btn btn btn-dark">DELETE</button>